.container {
	width: 100%;
}

.overlay {
	height: 600dvh;
	position: relative;
}

.main {
	width: 100%;
	height: 100dvh;
	position: relative;

	perspective: 1000px;
	transform-style: preserve-3d;

	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 400px;
	height: 300px;
	border-radius: 10px;
	background-color: #f0f0f0;
}

.environment {
	width: 100%;
	height: 125px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.environment::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 40%;
	background-color: #f0f0f0;

	clip-path: polygon(0% 0%, 17.48% 0%, 29.37% 21.22%, 40.31% 21.22%, 55.05% 28.98%, 68.79% 47.69%, 83.41% 57.51%, 100% 100%, 0% 100%);
}

.environment::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	background-color: #f0f0f0;

	clip-path: polygon(2.93% 67.14%, 20.01% 38.55%, 30.67% 30.67%, 46.19% 14.48%, 57.04% 11.16%, 69.12% 26.05%, 81.84% 18.16%, 93.48% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
}